@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  
}

button {
  transition: all 0.2s ease;
}


@plugin "daisyui/theme" {
  name: "forest";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(20.84% 0.008 17.911);
  --color-base-200: oklch(18.522% 0.007 17.911);
  --color-base-300: oklch(16.203% 0.007 17.911);
  --color-base-content: oklch(83.768% 0.001 17.911);
  --color-primary: oklch(90% 0.182 98.111);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(69.776% 0.135 168.327);
  --color-secondary-content: oklch(13.955% 0.027 168.327);
  --color-accent: oklch(70.628% 0.119 185.713);
  --color-accent-content: oklch(14.125% 0.023 185.713);
  --color-neutral: oklch(30.698% 0.039 171.364);
  --color-neutral-content: oklch(86.139% 0.007 171.364);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

@plugin "daisyui/theme" {
  name: "chefmate";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  /* Main */
  --color-base-100: #fffdf9;
  --color-base-200: #fff7ed;
  --color-base-300: #fed7aa;
  --color-base-content: #1e293b;

  /* Orange */
  --color-primary: #f97316;
  --color-primary-content: #ffffff;

  /* Green */
  --color-secondary: #16a34a;
  --color-secondary-content: #ffffff;

  /* Accent */
  --color-accent: #fb923c;
  --color-accent-content: #ffffff;

  /* Neutral */
  --color-neutral: #334155;
  --color-neutral-content: #ffffff;

  /* Status */
  --color-info: #3b82f6;
  --color-info-content: #ffffff;

  --color-success: #22c55e;
  --color-success-content: #ffffff;

  --color-warning: #f59e0b;
  --color-warning-content: #ffffff;

  --color-error: #ef4444;
  --color-error-content: #ffffff;

  /* Rounded UI */
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;

  /* Sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* Border */
  --border: 1px;

  /* Effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "chefmate-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  --color-base-100: #171411;
  --color-base-200: #211c17;
  --color-base-300: #302820;
  --color-base-content: #f8fafc;

  --color-primary: #fb923c;
  --color-primary-content: #1c1917;

  --color-secondary: #4ade80;
  --color-secondary-content: #052e16;

  --color-accent: #fdba74;
  --color-accent-content: #431407;

  --color-neutral: #292524;
  --color-neutral-content: #fafaf9;

  --color-info: #60a5fa;
  --color-info-content: #172554;

  --color-success: #4ade80;
  --color-success-content: #052e16;

  --color-warning: #fbbf24;
  --color-warning-content: #451a03;

  --color-error: #f87171;
  --color-error-content: #450a0a;

  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;

  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  --border: 1px;

  --depth: 1;
  --noise: 0;
}